
/*SUGGESTION DE PALETTES DE COULEUR*/
/* nom de la palette Adobe Kuler: Black and Red*/
/* #000000 #333333 #999999 #CCCCCC #F3343B*/

@font-face{ font-family: 'BlissfulThinking'; src: url('../font/BlissfulThinking.otf');}
@font-face{	font-family: 'Origin-Bold';	src: url('../font/Origin-Bold.ttf');}
@font-face{	font-family: 'Origin-ExtraBold'; src: url('../font/Origin-ExtraBold.ttf');}
@font-face{	font-family: 'Origin-Light'; src: url('../font/Origin-Light.ttf');}
@font-face{	font-family: 'Origin-Regular'; src: url('../font/Origin-Regular.ttf');}
@font-face{	font-family: 'Bariol_Regular'; src: url('../font/Bariol_Regular.otf');}
@font-face{	font-family: 'Bariol_Regular_Italic'; src: url('../font/Bariol_Regular_Italic.otf');}
@font-face{	font-family: 'Lovelo_Black'; src: url('../font/Lovelo Black.otf');}
@font-face{	font-family: 'Exo-Light'; src: url('../font/exo/Exo-Light.otf');}
@font-face{	font-family: 'Devicons'; src: url('../font/devicons.ttf');}

html{
	margin: 0;
	padding: 0;
	background: #fff;
	width:100%;
	height:100%;
}
body{
	margin: 0;
	padding: 0;
	width:100%;
	height:100%;
	position:relative;}
.bubble{
	border-radius:50%;
	position:absolute;
	top:50%;
	left:50%;
	transform:translateX(-50%) translateY(-50%);
	-moz-box-shadow: 1px 1px 5px 0px #656565;
	-webkit-box-shadow: 1px 1px 5px 0px #656565;
	-o-box-shadow: 1px 1px 5px 0px #656565;
	box-shadow: 1px 1px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=134, Strength=5);
}