html{
  background:$white;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif; */
  font-family: 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul, li{
  padding: 0;
  margin: 0;
}

.container{
  // max-width: 1024px;
  // width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

@mixin img-basic-config{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}