@import 'knacss';

html{
  background:$white;
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif; */
  font-family: 'Cabin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul, li{
  padding: 0;
  margin: 0;
}

.container{
  max-width: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacer-medium;
  padding-right: $spacer-medium;

  @include respond-to('small-up'){
    max-width: $tiny;
    width: $tiny;
  }
  @include respond-to('medium-up'){
    max-width: $small;
    width: $small;
  }
  @include respond-to('large-up'){
    max-width: $medium;
    width: $medium;
  }
  @include respond-to('extra-large-up'){
    max-width: $large;
    width: $large;
  }
  @include respond-to('hyper-large-up'){
    max-width: $large;
    width: $large;
  }
}

@mixin img-basic-config{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}