@import './knacss.scss';

.Splashscreen {
  background-color: #242635;
  color: $white;
  display: flex;

  &__header {
    font-size: calc(10px + 2vmin);
    color: $white;
    margin: 180px 0;
  }

  // text-align: center;
  // position: relative;
  // transition: opacity 0.5s ease;
  // opacity: 1;

  // &.transparent{
  //   transition: opacity 0.5s ease;
  //   opacity: 0;
  // }



  //   .Title-block{
  //     padding-left: 5vw;
  //     .animated-title{
  //       font-family: 'Overpass Mono', monospace;
  //       font-size: 10vmin;
  //       font-weight: lighter;
  //       color: white;
  //     }

  //     > p{
  //       font-family: 'Cabin', sans-serif;
  //     }
  //   }

  //   button {
  //     cursor: pointer;
  //     position: absolute;
  //     padding: 0;
  //     bottom: 25px;
  //     left: 50%;
  //     transform: translateX(-50%);
  //     width: 32px;
  //     height: 32px;
  //     opacity: 0.5;;
  //     background-image: url(../icons/iconmonstr-angel-down-thin-white.svg);
  //     background-repeat: no-repeat;
  //     background-size: cover;
  //     transition: bottom 0.5s ease;

  //     &:hover{
  //       bottom: 10px;
  //       transition: bottom 0.5s ease 
  //     }
        
  //   }
  // }
}





